<a href="https://colab.research.google.com/github/dettystanly7676/Python_Practice_Repo/blob/main/NumPy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Libraries

In [ ]:
import numpy as np    # np follows the convention
import pandas as pd   # pd follows the convention
import time

# Explore Numpy

In [ ]:
# creating 2 lists
list1 = [1,2,3,4]
list2 = [5,6,7,8]
print(type(list1),type(list2))

<class 'list'> <class 'list'>

In [ ]:
# creating arrays
array1 = np.array([2,4,6,8])
array2 = np.array([1,3,5,7])
print(type(array1),type(array2))

<class 'numpy.ndarray'> <class 'numpy.ndarray'>

In [ ]:
# adding two lists
sum_list = list1 + list2
print(sum_list)

# adding two arrays
sum_array = array1 + array2
print(sum_array)

[1, 2, 3, 4, 5, 6, 7, 8]
[ 3  7 11 15]

In [ ]:
# element wise addition in 2 lists
sum_list1 = []
for m,n in zip(list1, list2):
  sum_list1.append(m+n)
print(sum_list1)

[6, 8, 10, 12]

In [ ]:
# adding arrays with different size
array1 = np.array([2,4,6,8,10])
array2 = np.array([1,3,5,7])

# adding two arrays
sum_array = array1 + array2
print(sum_array)

ValueError: operands could not be broadcast together with shapes (5,) (4,)

In [ ]:
# retuns the size of an array. which means 5 rows and one column
array1.shape

(5,)

In [ ]:
# Example
item_prices = [100,200,250]
discount = 15
discounted_price = []

# Calculating 15% discount for each item
for price in item_prices:
  discount_amount = price * discount / 100
  price_after_discount = price - discount_amount
  discounted_price.append(price_after_discount)

print("Discounted prices are (Using Lists) :",discounted_price)

# If the above example is done using arrays
item_prices_array = np.array(item_prices)
type(item_prices_array)

# Calculating discount amount for each element in the array
discount_amount_array = item_prices_array * discount / 100
discounted_price_array = item_prices_array - discount_amount_array
print("Discounted prices are (Using arrays) :",discounted_price_array)

Discounted prices are (Using Lists) : [85.0, 170.0, 212.5]
Discounted prices are (Using arrays) : [ 85.  170.  212.5]

In [ ]:
# Comparing pythin list Vs numpy array
range1 = range(10000000)
range2 = range(10000000)

# converting the range to an array
range_array1 = np.array(range1)
range_array2 = np.array(range2)

# Using python functions
start_time = time.time()
sum_list1 = []
for m,n in zip(range1, range2):
  sum_list1.append(m+n)

end_time = time.time()

# Finding execution time
time_taken = end_time - start_time
print('Execution time for python = ',time_taken)

# using array operations
start_time = time.time()

sum_array = range_array1 + range_array2

end_time = time.time()

# finding time taken
time_taken = end_time - start_time
print('Execution time for array = ',time_taken)

# print(time_taken)

Execution time for python =  1.6940033435821533
Execution time for array =  0.038689613342285156

In [ ]:
time.time() # returns a value of time that is converted to time series in milli seconds

1764312852.4790316

In [ ]:
demo_array = np.array([1,2,3,4,5,6])

In [ ]:
# shape of the array (row, column, layer)
demo_array.shape

(6,)

In [ ]:
# to chevk the dimension of the array
demo_array.ndim

1

In [ ]:
# to check the datatype of an array
demo_array.dtype

dtype('int64')

In [ ]:
# number of elements in the array
demo_array.size

6

In [ ]:
dsa_array = np.array([[22,21,20],[179,160,183]])
csa_array = np.array([[21,20,19],[157,171,160]])
fsb_array = np.array([[20,21,30],[167,159,180]])

ict_array = np.array([dsa_array,csa_array,fsb_array])

In [ ]:
print('DSA')
print('Shape',dsa_array.shape)
print('Dimension',dsa_array.ndim)
print('Dataype',dsa_array.dtype)
print('Size',dsa_array.size)
print('--------------')
print('CSA')
print('Shape',csa_array.shape)
print('Dimension',csa_array.ndim)
print('Dataype',csa_array.dtype)
print('Size',csa_array.size)
print('--------------')
print('FSB')
print('Shape',fsb_array.shape)
print('Dimension',fsb_array.ndim)
print('Dataype',fsb_array.dtype)
print('Size',fsb_array.size)

DSA
Shape (2, 3)
Dimension 2
Dataype int64
Size 6
--------------
CSA
Shape (2, 3)
Dimension 2
Dataype int64
Size 6
--------------
FSB
Shape (3,)
Dimension 1
Dataype int64
Size 3

In [ ]:
print('ICT')
print('Shape',ict_array.shape)
print('Dimension',ict_array.ndim)
print('Dataype',ict_array.dtype)
print('Size',ict_array.size)

ICT
Shape (3, 2, 3)
Dimension 3
Dataype int64
Size 18

In [ ]:
array = np.array([[[1]]])
print('Shape',array.shape)
print('Dimension',array.ndim)
print('Dataype',array.dtype)
print('Size',array.size)

Shape (1, 1, 1)
Dimension 3
Dataype int64
Size 1