<a href="https://colab.research.google.com/github/dettystanly7676/Python_Practice_Repo/blob/main/practise_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3

In [ ]:
conn = sqlite3.connect('sample_DB.db')
cursor = conn.cursor()

In [ ]:
cursor.execute("""
create table if not exists books(
Bookid integer primary key,
Title text not null,
Author text,
Genre text,
PublishedYear integer)
""")

In [ ]:
cursor.execute('insert into books values(1,"Aadujeevitham","Benyamin","Survival",2011)')

In [ ]:
cursor.executemany('insert into books values(?,?,?,?,?)',books)

In [ ]:
conn.commit()

In [ ]:
books = [
    (2,'Stranger Things','Duffer Brothers','Thriller',2019),
    (3,'Harry Potter','J K Rowling','Fiction',2002),
    (4,'2 states','Chethan Bhagath','Romance',2017)
]

In [ ]:
cursor.execute('select * from books')
print(cursor.fetchall())

[(1, 'Aadujeevitham', 'Benyamin', 'Survival', 2011), (2, 'Stranger Things', 'Duffer Brothers', 'Thriller', 2019), (3, 'Harry Potter', 'J K Rowling', 'Fiction', 2002), (4, '2 states', 'Chethan Bhagath', 'Romance', 2017)]

In [ ]:
cursor.execute('select * from books')
rows = cursor.fetchall()
for row in rows:
  print(row)

(1, 'Aadujeevitham', 'Benyamin', 'Survival', 2011)
(2, 'Stranger Things', 'Duffer Brothers', 'Thriller', 2019)
(3, 'Harry Potter', 'J K Rowling', 'Fiction', 2002)
(4, '2 states', 'Chethan Bhagath', 'Romance', 2017)

In [ ]:
cursor.execute

In [ ]:
cursor.execute("""
create table if not exists member(
memberid integer primary key,
firstname text,
lastname text,
phonenumber integer,
email text,
membershipdate integer)
""")

In [ ]:
member = [
  (1, 'Aiden', 'Roberts', '9875634210', 'aiden.roberts@example.com', '2024-01-12'),
  (2, 'Meera', 'Nair', '9123456701', 'meera.nair@example.com', '2023-11-28'),
  (3, 'Liam', 'Carter', '9987453201', 'liam.carter@example.com', '2024-03-05'),
  (4, 'Arjun', 'Varma', '9098765432', 'arjun.varma@example.com', '2023-09-14'),
  (5, 'Sophia', 'Bennett', '9812345609', 'sophia.bennett@example.com', '2024-02-20'),
  (6, 'Kavya', 'Menon', '9345678123', 'kavya.menon@example.com', '2023-12-01'),
  (7, 'Ethan', 'Hayes', '9876001234', 'ethan.hayes@example.com', '2024-04-10'),
  (8, 'Rhea', 'Thomas', '9012345678', 'rhea.thomas@example.com', '2023-07-19'),
  (9, 'Daniel', 'Brooks', '9501237865', 'daniel.brooks@example.com', '2024-05-01'),
  (10, 'Anaya', 'Pillai', '9877776601', 'anaya.pillai@example.com', '2023-10-25')
]

In [ ]:
cursor.executemany('insert into member values(?,?,?,?,?,?)',member)

In [ ]:
cursor.execute('select * from member')
rows = cursor.fetchall()
for row in rows:
  print(row)

(1, 'Aiden', 'Roberts', '9875634210', 'aiden.roberts@example.com', '2024-01-12')
(2, 'Meera', 'Nair', '9123456701', 'meera.nair@example.com', '2023-11-28')
(3, 'Liam', 'Carter', '9987453201', 'liam.carter@example.com', '2024-03-05')
(4, 'Arjun', 'Varma', '9098765432', 'arjun.varma@example.com', '2023-09-14')
(5, 'Sophia', 'Bennett', '9812345609', 'sophia.bennett@example.com', '2024-02-20')
(6, 'Kavya', 'Menon', '9345678123', 'kavya.menon@example.com', '2023-12-01')
(7, 'Ethan', 'Hayes', '9876001234', 'ethan.hayes@example.com', '2024-04-10')
(8, 'Rhea', 'Thomas', '9012345678', 'rhea.thomas@example.com', '2023-07-19')
(9, 'Daniel', 'Brooks', '9501237865', 'daniel.brooks@example.com', '2024-05-01')
(10, 'Anaya', 'Pillai', '9877776601', 'anaya.pillai@example.com', '2023-10-25')
(101, 'Detty', 'Stanly', '123456', 'detty@gmail.com', '2025-5-8')