<a href="https://colab.research.google.com/github/dettystanly7676/Python_Practice_Repo/blob/main/PRACTICE_EXERCISES_PYTHON_BASICS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program which accepts the radius of a circle from the user
and compute the area.
Sample input: Enter the radius: 3
Sample output: Area of Circle is 28.59999999999

In [2]:
import math

radius = int(input('Enter the radius of a circle: '))
area = math.pi * radius ** 2

print('Area of a circle with radius',radius,'is',area)

Enter the radius of a circle: 3
Area of a circle with radius 3 is 28.274333882308138

2. Write a Python Program to accept the details of a student like name, roll
number and mark and display it.
Sample input: Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Sample output: Name: Anisha
Roll No: 21
Mark: 78

In [3]:
stud_name = input('Enter student name: ')
stud_roll = input('Enter student roll number: ')
stud_mark = input('Enter student mark: ')

print('Name:',stud_name,'Roll No:',stud_roll,'Mark:',stud_mark)

Enter student name: Anisha
Enter student roll number: 21
Enter student mark: 78
Name: Anisha Roll No: 21 Mark: 78

3. Write a Python program to get the largest number from a list.
Sample input: 12, 3, 47, 10
Sample output: 47 is the largest number.

In [5]:
number_list = [12,3,47,10]
print(list(number_list))
print(max(number_list),'is the larget number')

[12, 3, 47, 10]
47 is the larget number

4. Given a range of first 10 numbers, write a Python program to iterate from
start number to the end number and print the sum of the current number
and previous number.
Sample input: 1….10
Sample output: Current Number 1 Previous Number 0 Sum: 1 Current
Number 2 Previous Number 1 Sum: 3 Current Number 3 Previous
Number 2 Sum: 5… Current Number 10 Previous Number 9 Sum: 19

In [9]:
for n in range(1,11):
  print('Current number',n,'Prevoius number',n-1,'Sum',n+(n-1))

Current number 1 Prevoius number 0 Sum 1
Current number 2 Prevoius number 1 Sum 3
Current number 3 Prevoius number 2 Sum 5
Current number 4 Prevoius number 3 Sum 7
Current number 5 Prevoius number 4 Sum 9
Current number 6 Prevoius number 5 Sum 11
Current number 7 Prevoius number 6 Sum 13
Current number 8 Prevoius number 7 Sum 15
Current number 9 Prevoius number 8 Sum 17
Current number 10 Prevoius number 9 Sum 19

5. Write a Python program to print only those numbers which are divisible
of 5.
Sample input: 10, 20,33,46,55 Sample output: 10, 20, 55

In [13]:
list1 = [10,20,33,46,55]
new_list = []

for n in list1:
  if n%5 == 0:
    new_list.append(n)
  else:
    continue
print('List with numbers divisible by 5 :',new_list)

List with numbers divisible by 5 : [10, 20, 55]

6. Write a Python program to check whether a number is prime or not.
Sample input: Enter the number: 3
Sample output: 3 is a prime number.

In [15]:
number = int(input('Enter a number: '))

if number <= 1:
  print(number,'is not a pime number')
else:
  if number > 1:
    for n in range(2,number):
      if number%n == 0:
        print(number,'is not a prime number')
        break
    else:
      print(number,'is a prime number')

Enter a number: 3
3 is a prime number

7. Write a Python program to reverse a list using for loop.
Sample input: 10,40,30,70
Sample output: 70,30,40,10

In [17]:
number_list = [10,40,30,70]
print(number_list)
number_list.reverse()
print('Reversed list is',number_list)

[10, 40, 30, 70]
Reversed list is [70, 30, 40, 10]

8. Write a Python program to print the following pattern.

*

**

***

****

In [20]:
for n in range(5):
  print('*'*n)

*
**
***
****

9. Write a Python program to find the maximum of three numbers
Sample input: 34,12,7
Sample output: 34

In [32]:
number = list(map(int,input('Enter 3 numbers: ').split(',')))
print('Maximum of the above  numbers is',max(number))

Enter 3 numbers: 34,12,7
Maximum of the above  numbers is 34

10. Write a Python program to construct the following pattern, using a
nested for loop.
*
**
***
****
*****
****
***
**
*

In [39]:
for n in range(6):
  print('*'*n)
for n in range(4,0,-1):
  print('*'*n)

*
**
***
****
*****
****
***
**
*